.PanelContainer{
    margin: 1%;
    width: 98%;
    border-radius: 10px;
    background-color: #EDEDED;
    padding: 20px 10px;
}

.invisInput{
    background-color: transparent;
    font-size: 14px;
    outline: none;
    border: none;
}
.invisInput:hover, .invisInput:focus {
    background-color: #bdeee2;
}

.invisInputB{
    background-color: transparent;
    font-size: 20px;
    outline: none;
    border: none;
}
.invisInputB:hover, .invisInputB:focus {
    background-color: #bdeee2;
}

.ExitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C6D8D3;
    border-radius: 50%;
    width: 5%;
    cursor: pointer;
    transition: all 0.25s;
}

.ExitContainer:hover {
    filter: brightness(0.95);
}

.ExitContainer:active {
    filter: brightness(0.8);
}

