.principal{
    margin-top: 2%;
    margin-left: 2%;
}

.card{
    min-height: fit-content;
    max-height: 500px;
    display: flex;
    row-gap: 1rem;
    flex-wrap: wrap;
    overflow-y: auto;
    max-width: 100%;
}

.card > * :hover{
    cursor: pointer;
}