.nombrePagina{
    width: 100%;
    background-color: #FDF0D5;
    height: 35px;
    
}
.tablePrincipal{
    padding: 1%;
    
}
.buttonBack{
    border: none;
    background-color: #FDF0D5;
    margin-left: 2%;
    width: 20px;
}
.informationButtons{
    border: none;
    background-color: white;
}
.actionsTd{
    align-items: center;
    text-align: center;
    width: 10%;
}
.actionsTh{
    align-items: center;
    text-align: center;
   
    
} 
#tableBorder{
    border: 1px solid black;
}
.paginacion{
    margin-top: -1%;
    margin-left: 89%;
}

.numero-td{
    align-items: center;
    text-align: center;
    width: 5%;

}

