.iconoAgregar{
    color: #F0544F;
    height: 50px;
    width: 50px;
}

.buttonAgregar{
    background-color: white;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#modalContenido{
    background-color: #C6D8D3;
    
}
.btnGuardar{
    color: white !important;
    font-size: 13px !important;
    background-color: #331832 !important;
    width: 100px !important;
    border: none !important;
    height: 30px;
}
.btnCancelar{
    background-color: gainsboro !important;
    color: black !important;
    font-size: 13px!important;
    width: 100px !important;
    height: 30px;
    border: none !important;
}
#inputColegio{
    border: none;
    height:40px;
    width:100%;
    border-radius: 10px;
}
.paginacion{
    color: #F0544F;
}

.selectAdmin{
    border: none;
    width: 100%;
    height:40px;
    border-radius: 10px;
}
.mensajeError{
    color: red;
}
.footForm{
    align-items: center;
    text-align: center;
    
}
.labelForm{
    font-size: 12px !important;
    font-weight: 600 !important;
}
.tituloForm{
    margin-left: 32%;
}