footer {
  position: fixed;
  background-color: hwb(0 99% 0%);
  color: rgb(245, 249, 249);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: right;
}

.container {
  height: 80%;
  display: block;
  justify-content: center;
  align-items: center;

}

th,
td {
  text-align: center;
}

.tableRow:hover {
  background-color: #C8BFD9;
}

.page {
  display: grid;
  grid-template-rows: 5% 95%;
  width: 100%;
  height: 100vh;
}

.tableContainer {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 90%;
}


#materiasTable {
  overflow-y: scroll;
  display: block;
  margin-left: 7%;
  height: 85%;

}

::placeholder {
  color: black;
}

.label {
  
  font-size: small;
}


#containerMaterias {
  width: 100%;

}

.divAdd {
  margin-left: 15%; /* Ajusta el valor según tus necesidades */
  width: 650px;
  margin-top: 4%;
}


.divAddCiclos {
  margin-left: 12%;
  width: 370px;
  margin-top: 7%;
}

.divEditCiclos {
  margin-left: 12%;
  width: 370px;

}
.divEditMateria {
 
  width: 100%;


}

.buttonGuardar {
  margin-left: 45%;
  display: flex;
}
.buttonsCiclo {
  margin-top: 2%;
  margin-left: 9%;
  display: flex;
}
.buttonsMateria {
  margin-top: 1%;
  margin-left: 70%;
  display: flex;
}

.buttonGuardarMateria {
  margin-left: 60%;
}

.inputAdd {
  background-color: #F5F5F5;
  border-radius: 5px;
  border-color: none;
  border: none;
  width: 80%;
  height: 25px;
  color: black;
}

.tablaMat {
  width: 100px;
}

.content {
  width: 100%;
  height: 100%;
}

.NavbarA {
  width: 100%;
  height: 100%;
  background-color: #F0544F;
  display: flex;
  background-color: #F0544F;
}

.NButtonForSideA {
  /*width: 25%;*/
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.buttonNavBarA {
  outline: none;
  border: none;
  background-color: #FFFFFF;
  /*  font-size: 50px;*/
  color: #F0544F;
}

.pag {
  outline: none;
  border: none;
  background-color: #FFFFFF;
  font-size: 10px;
  color: #F0544F;
}

.navbarmainAd {
  width: 97.5%;
  display: flex;
  justify-content: space-between;
}

.CustomTable {
  width: 30%;
  border-spacing: 0px;
}

.CustomTable>thead>tr>th {
  border: 1px solid black;
  padding-left: 5px;
}

.CustomTable>tbody>tr>td {
  text-align: center;
  border: 1px solid black;
}
