.nombre-pagina{
    width: 100%;
    background-color: #FDF0D5;
    
    
}
.table-principal{
    padding: 1% 5% 0% 5%;
    
}
.button-back{
    border: none;
    background-color: #FDF0D5;
}
.information-buttons{
    border: none;
    background-color: white;
}
.actions-td{
    align-items: center;
    text-align: center;
    width: 10%;
}
.actions-th{
    align-items: center;
    text-align: center;
   
    
} 
#table-border{
    border: 1px solid black;
}
.paginacion{
    margin-top: -1%;
    margin-left: 89%;
}

.numero-td{
    align-items: center;
    text-align: center;
    width: 5%;

}

